@import "global";
@import "colors";

/*  */

.header {
    height: 100vh;
    position: absolute;
    z-index: 5;
    background: rgba(11, 11, 11, 0.3);
    left: 0;
    right: 0;
    &-top {
        padding-top: 36px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }
    &-btn {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.1);
        width: 60px;
        height: 60px;
        border: 1px solid $white;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        div {
            width: 36px;
            height: 2px;
            background-color: $white;
        }
    }
    &-content {
        &__title {
            font-size: 96px;
            font-family: 'Roboto', sans-serif;
            line-height: 112px;
            margin-bottom: 40px;
        }
        &__text {
            width: 284px;
            margin-bottom: 25px;
        }
        &__btn {
            display: inline-block;
            padding: 30px 62px;
            background: rgba(255, 255, 255, 0.15);
            border: 1px solid $white;
            transition: all .3s;
            &:hover {
                background-color: $red;
            }
        }
    }
}

.slider__item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* .slider .slick-dots {
    margin: -78px auto 0;
    position: relative;
    z-index: 6;
    max-width: 1200px;
    display: flex;
    button {
        width: 15px;
        height: 15px;
        background-color: $black;
        border-radius: 50%;
        border: none;
        padding: 0;
        font-size: 0;
    }
    .slick-active {
        button {
            background-color: $white;
        }
    }
    li {
        display: inline-block;
        margin: 0 5px;
    }
} */

.statistics {
    margin: 105px 0 100px;
    &-items {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    &-item {
        &__title {
            margin-bottom: 20px;
        }
        &__num {
            font-size: 96px;
            line-height: 112px;
            margin-bottom: 8px;
            span {
                font-family: 'Roboto', sans-serif;
                font-size: 24px;
                line-height: 28px;
            }
            &--speed {
                position: relative;
                display: inline-block;
                &::before {
                    content: "+";
                    position: absolute;
                    right: 34px;
                    font-size: 24px;
                    line-height: 28px;
                }
            }
        }
        &__descr {
            color: $red;
        }
    }
}

.images {
    margin-bottom: 100px;
}

.advantages {
    &-inner__row {
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__title {
        position: absolute;
        top: 0;
        font-size: 36px;
        line-height: 42px;
        color: $red;
        &--bottom {
            right: 0;
            bottom: 0;
            top: auto;
        }
    }
    &__text {
        width: 303px;
    }
    &-descr {
        max-width: 570px;
        width: 100%;
    }
}


/* */